## Example of displaying heatmap using folium (crime2016)

### Import libraries

In [1]:
import pandas as pd
import folium

### Parameters

In [2]:
csv_in = 'crime2006_2016-utf8.csv'

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

### Read CSV file

In [3]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(517, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
年       517 non-null int64
都道府県    517 non-null object
検挙人数    517 non-null int64
dtypes: int64(2), object(1)
memory usage: 12.2+ KB
None

      年 都道府県  検挙人数
0  2016  北海道  8460
1  2016  青森県  1621
2  2016  岩手県  1282
3  2016  宮城県  3209
4  2016  秋田県  1364

### Select 2016 lines

In [4]:
df2016 = df[ df['年']==2016 ]
print(df2016.shape)
print(df2016.info())
print(df2016)

(47, 3)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 3 columns):
年       47 non-null int64
都道府県    47 non-null object
検挙人数    47 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.5+ KB
None
       年  都道府県   検挙人数
0   2016   北海道   8460
1   2016   青森県   1621
2   2016   岩手県   1282
3   2016   宮城県   3209
4   2016   秋田県   1364
5   2016   山形県   1910
6   2016   福島県   2374
7   2016   東京都  31044
8   2016   茨城県   4873
9   2016   栃木県   2841
10  2016   群馬県   4063
11  2016   埼玉県  12739
12  2016   千葉県  10158
13  2016  神奈川県  16356
14  2016   新潟県   3731
15  2016   山梨県   1143
16  2016   長野県   2411
17  2016   静岡県   6812
18  2016   富山県   1584
19  2016   石川県   1687
20  2016   福井県   1153
21  2016   岐阜県   2845
22  2016   愛知県  14505
23  2016   三重県   2159
24  2016   滋賀県   2172
25  2016   京都府   4489
26  2016   大阪府  17484
27  2016   兵庫県  12145
28  2016   奈良県   2415
29  2016  和歌山県   1918
30  2016   鳥取県    942
31  2016   島根県    858
32  2016   岡山県   3782
33  2016   広島県   4989
34  2016   山口県   2159
35  2016   徳島県   1103
36  2016   香川県   1788
37  2016   愛媛県   2632
38  2016   高知県   1063
39  2016   福岡県  10880
40  2016   佐賀県   1531
41  2016   長崎県   1866
42  2016   熊本県   2944
43  2016   大分県   1548
44  2016   宮崎県   1642
45  2016  鹿児島県   2330
46  2016   沖縄県   3372

### Parameters2 (for lat/lon)

In [5]:
csv_in2 = 'h3010pref_pos_utf8.csv'

### UTF-8, delimiter is ',', skip no line and read header

In [6]:
df_pos = pd.read_csv(csv_in2, delimiter=',', skiprows=0, header=0)
print(df_pos.shape)
display(df_pos.head())

(1963, 3)

     name        lat         lon
0     北海道  43.064278  141.346785
1     札幌市  43.061945  141.354395
2  札幌市中央区  43.055390  141.340980
3   札幌市北区  43.090691  141.340922
4   札幌市東区  43.076111  141.363616

### Merge DataFrames to add lat/lon to pref data

In [7]:
df_merged = pd.merge(df2016, df_pos, left_on='都道府県', right_on='name', how='left')
print(df_merged.shape)
display(df_merged.head())

(47, 6)

      年 都道府県  検挙人数 name        lat         lon
0  2016  北海道  8460  北海道  43.064278  141.346785
1  2016  青森県  1621  青森県  40.824338  140.740087
2  2016  岩手県  1282  岩手県  39.703647  141.152592
3  2016  宮城県  3209  宮城県  38.268803  140.871846
4  2016  秋田県  1364  秋田県  39.718058  140.103250

### Drop unneed column

In [8]:
df_merged2 = df_merged.drop(columns='name')
print(df_merged2.shape)
display(df_merged2)

(47, 5)

       年  都道府県   検挙人数        lat         lon
0   2016   北海道   8460  43.064278  141.346785
1   2016   青森県   1621  40.824338  140.740087
2   2016   岩手県   1282  39.703647  141.152592
3   2016   宮城県   3209  38.268803  140.871846
4   2016   秋田県   1364  39.718058  140.103250
5   2016   山形県   1910  38.240457  140.363278
6   2016   福島県   2374  37.749957  140.467734
7   2016   東京都  31044  35.689568  139.691717
8   2016   茨城県   4873  36.341450  140.446735
9   2016   栃木県   2841  36.565689  139.883528
10  2016   群馬県   4063  36.391192  139.060947
11  2016   埼玉県  12739  35.856907  139.648854
12  2016   千葉県  10158  35.604588  140.123184
13  2016  神奈川県  16356  35.447710  139.642536
14  2016   新潟県   3731  37.902238  139.023531
15  2016   山梨県   1143  35.663935  138.568379
16  2016   長野県   2411  36.651310  138.180991
17  2016   静岡県   6812  34.976906  138.383023
18  2016   富山県   1584  36.695190  137.211341
19  2016   石川県   1687  36.594652  136.625725
20  2016   福井県   1153  36.065244  136.221791
21  2016   岐阜県   2845  35.391199  136.722168
22  2016   愛知県  14505  35.180198  136.906739
23  2016   三重県   2159  34.730268  136.508594
24  2016   滋賀県   2172  35.004394  135.868292
25  2016   京都府   4489  35.021279  135.755635
26  2016   大阪府  17484  34.686394  135.519994
27  2016   兵庫県  12145  34.691304  135.182995
28  2016   奈良県   2415  34.685231  135.832883
29  2016  和歌山県   1918  34.225994  135.167450
30  2016   鳥取県    942  35.503704  134.238174
31  2016   島根県    858  35.472212  133.050530
32  2016   岡山県   3782  34.661759  133.934894
33  2016   広島県   4989  34.396271  132.459369
34  2016   山口県   2159  34.185859  131.471401
35  2016   徳島県   1103  34.065728  134.559484
36  2016   香川県   1788  34.340160  134.043390
37  2016   愛媛県   2632  33.841646  132.766103
38  2016   高知県   1063  33.559753  133.531115
39  2016   福岡県  10880  33.606261  130.418114
40  2016   佐賀県   1531  33.249322  130.298799
41  2016   長崎県   1866  32.749990  129.867628
42  2016   熊本県   2944  32.790374  130.741134
43  2016   大分県   1548  33.238128  131.612605
44  2016   宮崎県   1642  31.910975  131.423863
45  2016  鹿児島県   2330  31.560185  130.558141
46  2016   沖縄県   3372  26.212365  127.680975

### Make data for heatmap  
[ [lat2, lon2, value2], [lat2, lon2, value2], ... ]

In [9]:
df_heat = df_merged2[['lat', 'lon', '検挙人数']]
print(df_heat.shape)
display(df_heat.head())

ar_heat = []
for i,r in df_heat.iterrows():
    ar_heat.append(r)
print(ar_heat[:3])

(47, 3)

         lat         lon  検挙人数
0  43.064278  141.346785  8460
1  40.824338  140.740087  1621
2  39.703647  141.152592  1282
3  38.268803  140.871846  3209
4  39.718058  140.103250  1364

[lat       43.064278
lon      141.346785
検挙人数    8460.000000
Name: 0, dtype: float64, lat       40.824338
lon      140.740087
検挙人数    1621.000000
Name: 1, dtype: float64, lat       39.703647
lon      141.152592
検挙人数    1282.000000
Name: 2, dtype: float64]

### Make map

In [10]:
from folium.plugins import HeatMap

m = folium.Map(location=[35, 140], zoom_start=4)
m.add_child(HeatMap(ar_heat, radius=10))
display(m)