## Example of displaying heatmap using folium (crime2016, English)

### Import libraries

In [10]:
import pandas as pd
import folium

### Parameters

In [11]:
csv_in = 'crime2006_2016_en-utf8.csv'

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

### Read CSV file

In [12]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
print(df.info())
display(df.head())

(517, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
Year         517 non-null int64
Pref         517 non-null object
#Arrested    517 non-null int64
dtypes: int64(2), object(1)
memory usage: 12.2+ KB
None

   Year      Pref  #Arrested
0  2016  Hokkaido       8460
1  2016    Aomori       1621
2  2016     Iwate       1282
3  2016    Miyagi       3209
4  2016     Akita       1364

### Select 2016 lines

In [13]:
df2016 = df[ df['Year']==2016 ]
print(df2016.shape)
print(df2016.info())
print(df2016)

(47, 3)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 3 columns):
Year         47 non-null int64
Pref         47 non-null object
#Arrested    47 non-null int64
dtypes: int64(2), object(1)
memory usage: 1.5+ KB
None
    Year       Pref  #Arrested
0   2016   Hokkaido       8460
1   2016     Aomori       1621
2   2016      Iwate       1282
3   2016     Miyagi       3209
4   2016      Akita       1364
5   2016   Yamagata       1910
6   2016  Fukushima       2374
7   2016      Tokyo      31044
8   2016    Ibaraki       4873
9   2016    Tochigi       2841
10  2016      Gunma       4063
11  2016    Saitama      12739
12  2016      Chiba      10158
13  2016   Kanagawa      16356
14  2016    Niigata       3731
15  2016  Yamanashi       1143
16  2016     Nagano       2411
17  2016   Shizuoka       6812
18  2016     Toyama       1584
19  2016   Ishikawa       1687
20  2016      Fukui       1153
21  2016       Gifu       2845
22  2016      Aichi      14505
23  2016        Mie       2159
24  2016      Shiga       2172
25  2016      Kyoto       4489
26  2016      Osaka      17484
27  2016      Hyogo      12145
28  2016       Nara       2415
29  2016   Wakayama       1918
30  2016    Tottori        942
31  2016    Shimane        858
32  2016    Okayama       3782
33  2016  Hiroshima       4989
34  2016  Yamaguchi       2159
35  2016  Tokushima       1103
36  2016     Kagawa       1788
37  2016      Ehime       2632
38  2016      Kochi       1063
39  2016    Fukuoka      10880
40  2016       Saga       1531
41  2016   Nagasaki       1866
42  2016   Kumamoto       2944
43  2016       Oita       1548
44  2016   Miyazaki       1642
45  2016  Kagoshima       2330
46  2016    Okinawa       3372

### Parameters2 (for lat/lon)

In [14]:
csv_in2 = 'h3010pref_pos_utf8_en.csv'

### UTF-8, delimiter is ',', skip no line and read header

In [15]:
df_pos = pd.read_csv(csv_in2, delimiter=',', skiprows=0, header=0)
print(df_pos.shape)
display(df_pos.head())

(47, 3)

       Pref        lat         lon
0  Hokkaido  43.064278  141.346785
1    Aomori  40.824338  140.740087
2     Iwate  39.703647  141.152592
3    Miyagi  38.268803  140.871846
4     Akita  39.718058  140.103250

### Merge DataFrames to add lat/lon to pref data

In [16]:
df_merged = pd.merge(df2016, df_pos, on='Pref', how='left')
print(df_merged.shape)
display(df_merged.head())

(47, 5)

   Year      Pref  #Arrested        lat         lon
0  2016  Hokkaido       8460  43.064278  141.346785
1  2016    Aomori       1621  40.824338  140.740087
2  2016     Iwate       1282  39.703647  141.152592
3  2016    Miyagi       3209  38.268803  140.871846
4  2016     Akita       1364  39.718058  140.103250

### Make data for heatmap  
[ [lat2, lon2, value2], [lat2, lon2, value2], ... ]

In [17]:
df_heat = df_merged[['lat', 'lon', '#Arrested']]
print(df_heat.shape)
display(df_heat.head())

ar_heat = []
for i,r in df_heat.iterrows():
    ar_heat.append(r)
print(ar_heat[:3])

(47, 3)

         lat         lon  #Arrested
0  43.064278  141.346785       8460
1  40.824338  140.740087       1621
2  39.703647  141.152592       1282
3  38.268803  140.871846       3209
4  39.718058  140.103250       1364

[lat            43.064278
lon           141.346785
#Arrested    8460.000000
Name: 0, dtype: float64, lat            40.824338
lon           140.740087
#Arrested    1621.000000
Name: 1, dtype: float64, lat            39.703647
lon           141.152592
#Arrested    1282.000000
Name: 2, dtype: float64]

### Make map

In [18]:
from folium.plugins import HeatMap

m = folium.Map(location=[35, 140], zoom_start=4)
m.add_child(HeatMap(ar_heat, radius=10))
display(m)