In [6]:
import numpy as np
import pandas as pd
import scipy.stats as ss

In [7]:
csv_in = 'shop_sales.csv'

In [8]:
df = pd.read_csv(csv_in, delimiter=',', skiprows=0, header=0)
print(df.shape)
display(df.head())
print(df.info())

(200, 5)

   ShopID      Pref       Type  Sales1  Sales2
0     101   Saitama  franchise     108     110
1     102   Saitama     direct      94     108
2     103     Tokyo     direct     103      89
3     104   Saitama  franchise      99     122
4     105  Kanagawa  franchise     113     109

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
ShopID    200 non-null int64
Pref      200 non-null object
Type      200 non-null object
Sales1    200 non-null int64
Sales2    200 non-null int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB
None

In [15]:
t, p = ss.ttest_1samp(df['Sales2']-df['Sales1'], 0.0)
print(t, p/2)

9.227723073665455 2.0675782068478105e-17

(結論) セールの販売数は増加したと言えない

In [19]:
df_Tokyo = df[ df['Pref'] == 'Tokyo' ]
df_Saitama = df[ df['Pref'] == 'Saitama' ]
display(df_Tokyo.head())

   ShopID   Pref       Type  Sales1  Sales2
2     103  Tokyo     direct     103      89
5     106  Tokyo  franchise     105     121
6     107  Tokyo     direct     101      90
7     108  Tokyo  franchise     115     103
8     109  Tokyo  franchise     110     108

In [21]:
t, p = ss.ttest_ind(df_Tokyo['Sales2'], df_Saitama['Sales2'], equal_var=False)
print(t, p)

0.11753155786638277 0.9066597833906881

(結論) 販売数の増加に地域差があるとはいえない。