In [1]:
import pandas as pd
import numpy as np
import scipy.stats as ss
import matplotlib.pyplot as plt

In [2]:
csv_in = '../ai-03/running.csv'

In [11]:
df = pd.read_csv(csv_in,delimiter=',',skiprows=0,header=0)
display(df.head())
display(df.info())

     ID Univ  Grade    Time
0  1001    D      3  1870.0
1  1002  NaN      2  1937.0
2  1003  NaN      1  2036.0
3  1004    C      1  1957.0
4  1005    D      1     NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
ID       50 non-null int64
Univ     48 non-null object
Grade    50 non-null int64
Time     49 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 1.6+ KB

None

In [14]:
df2 = df.dropna(how='any')
display(df2.head())

     ID Univ  Grade    Time
0  1001    D      3  1870.0
3  1004    C      1  1957.0
5  1006    D      2  2063.0
6  1007    D      3  1839.0
7  1008    C      2  1740.0

In [16]:
ct = pd.crosstab(index=df2['Univ'],columns=df2['Grade'])
display(ct.head())

Grade  1  2  3  4
Univ
A      3  4  5  4
B      2  1  2  3
C      1  3  1  3
D      5  3  6  1